<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1>Sonic: O Filme</h1>
        <h2>12 de fevereiro de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p>Depois de descobrir um ouriço pequeno, azul e rápido, um policial de uma pequena cidade deve ajudá-lo a derrotar um gênio do mal que deseja fazer experiências com…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>Vingadores: Ultimato</h1>
        <h2>24 de abril de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/q6725aR8Zs4IwGMXzZT8aC8lh41.jpg" />
        <p>Após os eventos devastadores de "Vingadores: Guerra Infinita", o universo está em ruínas devido aos esforços do Titã Louco, Thanos. Com a ajuda de aliados remanescentes…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>Operção Big Hero</h1>
        <h2>24 de outubro de 2014</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/zBDs1y1fK921HrhdRMqlloUqp5Z.jpg" />
        <p>Cidade de San Fransokyo, Estados Unidos. Hiro Hamada (voz de Ryan Potter) é um garoto prodígio que, aos 13 anos, criou um poderoso robô para participar de lutas…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>1917</h1>
        <h2>25 de dezembro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/p6lDTyJl7SEbv4jZkftVBPndZH2.jpg" />
        <p>Em um dos momentos críticos da Primeira Guerra Mundial, dois soldados britânicos, Schofield e Blake, recebem uma missão aparentemente impossível. Em uma luta contra…</p> 
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>